body {
    font-family: Arial;
    background: #b8e4ff;
    padding: 20px;
}

img{
    width: 4000px;
}
h1 {
    text-align: center;
}

.box {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.box img {
    width: 250px;
    border-radius: 10px;
}

.info {
    background: white;
    padding: 15px;
    border-radius: 10px;
}

.nimadir {
    padding: 0;
    margin: 0px 1000px 0px;
    text-align: end;
}

.ks {
    margin: 200px 0px 0px;
}


.nimadir img {
    width: 400px;
}
h2 {
    display: flex;
}